
/* Animated Background*/

body {
  background-attachment:fixed;
  background-size: 300% 300%;
  background-image:
     /*  https://cssgradient.io/  */
     linear-gradient(90deg, rgba(58,97,180,1) 0%, rgba(131,58,180,1) 29%, rgba(253,29,29,1) 71%, rgba(252,176,69,1) 100%);

	 );
  -webkit-animation: AnimateBG 10s ease infinite;
          animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0%   { background-position: 0%   50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0%   50%; }
}

@keyframes AnimateBG {
  0%   { background-position: 0%   50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0%   50%; }
}

