
/* Animated Background*/

body {
  background-attachment:fixed;
  background-size: 300% 300%;
  background-image:
     /*  https://cssgradient.io/  */
        linear-gradient(252deg, rgba(26,1,37,1) 0%, rgba(9,9,121,1) 44%, rgba(17,171,203,1) 100%); 
	 );
  -webkit-animation: AnimateBG 10s ease infinite;
          animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0%   { background-position: 0%   50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0%   50%; }
}

@keyframes AnimateBG {
  0%   { background-position: 0%   50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0%   50%; }
}

