/*
 */
#presentation {

  display:flex;
  flex-direction:row;
  min-height:400px;


}


#presentation #title{
  display:none;
}

#presentation #animation {
  flex:1;
  min-width:250px;
  padding:10px;
  align-content:center;


}

#presentation #animation :first-child {
  flex:2;
  padding:0px;
  margin:0px;
  flex:1;
  align-content:center;


}



#presentation #lateral_pan {
  flex:1;
  min-width:250px;
  background-color: rgba(0,0,0,0.5);
  margin:30px;
  padding:30px;
  border-radius:40px;

}

