
/*general  styles */

body {
  /*general  configs*/
  margin:0px;
  padding:0px;
  color:white;
  font-family:"Quicksand";
  font-size:1.5em;
}

ul {
  margin:0px;
  padding:0px;
}

li {
  margin:15px;
  padding:25px;
  list-style-type:none;
  background-color:black;
  border-radius:30px;
  color:white;

  display:flex;
  
  
}

a {
  color:inherit;
  text-decoration:inherit;
}



