
.global_container{
  padding:0px;
  margin:0px;
  display:flex;
  flex-wrap:wrap;
}

.is_flex{
  flex:1;
  min-width:250px;
}

.is_flex:first-child {
  flex:2;
  padding:25px;
  background-color:rgba(0,0,0,0.5);
  margin:20px;
  border-radius:20px;
}

.is_flex a{
  background-color:(1,1,1,1);
}

.is_flex div {
  padding:25px;
  background-color:rgba(0,0,0,0.5);
  margin:20px;
  border-radius:20px;
}
.is_flex h2 {
  color:yellow;
  padding:25;
  margin:20;
}
